extends layout

block content
  h1= title

  form(method='POST')
    div.form-group
      label(for='item_name') Item Name:
      input#item_name.form-control(type='text', placeholder='Name of item' name='item_name' required value=(undefined===item ? '' : item.item_name) )
    div.form-group
      label(for='item_category') Category: 
      select#item_category.form-control(name='item_category' required)
        option(value='') --Please select a category--
        for category in categories
          if item 
            if category._id.toString() === (item.item_category && item.item_category._id ? item.item_category._id.toString() : '')
              option(value=category._id, selected) #{category.category_name}
            else
              option(value=category._id) #{category.category_name}
          else
            option(value=category._id) #{category.category_name}
    div.form-group
      label(for='item_description') Description:
      textarea#item_description.form-control(placeholder='Description must be at least 15 characters long' name='item_description' required)= undefined===item ? '' : item.item_description
    div.form-group
      label(for='item_price') Price:
      input#item_price.form-control(type='text', placeholder='24.99' name='item_price' required value=(undefined===item ? '' : item.item_price))
    div.form-group
      label(for='item_count') Stock Count:
      input#item_count.form-control(type='text', placeholder='5' name='item_count' required value=(undefined===item ? '' : item.item_count))
    button.btn.btn-primary(type='submit') Submit


  if errors
    ul
      for error in errors
        li!= error.msg
