extends layout

block content
  h1 Item: #{item.item_name}

  p #[strong Category: ]
    a(href=item.item_category.url) #{item.item_category.category_name}
  p #[strong Description:] #{item.item_description}
  p #[strong Price:] $#{item.item_price.toFixed(2)}

    if item.item_count > 0
        p #[strong Number in Stock:] #{item.item_count}
    else 
      p Item is out of stock.

    hr
    p
      a(href=item.url+'/delete') Delete Item
    p
      a(href=item.url+'/update') Update Item
